<h1>User Profile</h1>
<p>Name: {{ name }}</p>
<p>Email: {{ email }}</p>
<form (ngSubmit)="updateEmail()">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
    <button type="submit">Update Email</button>
  </form>